
.logo{
	margin-top:20px;
	margin-right:130px;
	Font-size:Bold;
	float:left;
}
.navbar{
	margin-top:20px;
	margin-left:120px;
	float:right;
	display:inline-block;
}
.bt1{
	margin-left:25px;
	color:#000000;
	border:none;
	transition:0.3s;
	Font-size:15px;
	background-color:#FFFFFF;
	font-weight:bold;
}
.bt1:hover {
	border:none;
	background-color: none;
	padding:2px solid white;
	box-shadow:4px 4px #000000;
	color:#202020;
	transition:0.3s;
	font-weight:bold;
}
.name{
	float:left;
	border:2px solid black;
	margin-top:50px;
	margin-left:10px;
	margin-right:100px;
	overflow:hidden;
}
.img{
	margin-top:50px;
	margin-left:45px;
	margin-right:1px;

}

.img1{
	height:400px;
	width:400px;
	border-radius: 50% 0% 50% 50%;
	margin-left:px;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid white; */
    border:none;
}  

.flex-child:first-child {
    margin-right: 5px;
} 

.txt{
	margin-top:20px;
	color:#9FAEFF;
	text-align:center;
}
.name1{
	Font-size:25px;
	margin-left:12px;
	margin-top:90px;	
	
}
.name2{
	margin-left:3px;
}
.btn2{
	border:none;
	text-align:center;
	margin-left:70px;
	Font-size:20px;
	border-radius:7px;
	font-weight:bold;
	transition:0.3s;
	background-color:#052A6C;
	color:#FFFFFF;
	height:55px;
	width:120px;
}

.btn2:hover{
	border:none;
	text-align:center;
	margin-left:70px;
	Font-size:20px;
	border-radius:7px;
	font-weight:bold;
	transition:0.3s;
	background-color:#052A6C;
	color:#FFFFFF;
	height:60px;
	width:125px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	padding:2px solid white;
}
.ul1{
	margin-top:20px;
	margin-left:35px;
	color:#090623;
	Font-size:25px;
}
.ul2{
Font-size:28px;
margin-left:40px;
}
.ul3{
	margin-top:20px;
	
	color:#090623;
	Font-size:25px;
}
.card{
	margin-top:20px;
	width:50%;
}
.last{
	border: 2px solid yellow;
	margin-top:300px;
}
.stn{
	font-weight:bold;
	Font-size:42px;
	margin-top:75px;
	margin-left:18px;
	color:#4793B6;
	
	
}

.stn1{
	margin-left:20px;
	font-family:BenchNine;
}
.ptk{
	margin-top:-5px;
	margin-left:20px;
	Font-size:29px;
	color:#FAA300;
	font-weight:bold;
	display:inline-block;
	font-family:BenchNine;
}

.card{
height:1400px;
width:965px;
margin: auto;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
border-radius:20px;
background-color:#F0F8FF;
}